/* Cross-browser html5 hack*/
input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, canvas {
    display: block;
}

.modal-body .alert {
    margin-left: 0;
    margin-right: 0;
}

/* END Cross-browser html5 hack*/

/* Elements */
html, body {
    height: 100%;
    min-height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

li.input-group {
    margin-bottom: 10px;
}

li.input-group .input-group-addon {
    min-width: 150px;
}

/* END Elements */

/* Classes */
.pull_right {
    float: right;
}

.pull_left {
    float: left;
}

.tiny_navbar {
    border-radius: 0;
    z-index: 0;
    border: 0;
    min-height: 30px;
    margin-bottom: 0;
    display: block;
}

.tiny_navbar .navbar-brand {
    padding: 10px 15px;
    font-size: 14px;
    line-height: 16px;
}

.tiny_navbar .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.tiny_navbar .navbar-nav > li > a {
    line-height: 16px;
}

.marketing_header {
    margin-top: 0;
    padding-top: 10px;
    font-size: 70px;
    font-weight: normal;
    line-height: 1;
    letter-spacing: -1px;
}

.marketing_subheader {
    margin: 10px 0 0;
    font-size: 21px;
    line-height: 1.5;
}

.btn-invisible {
    background: none;
    border: 0;
}

.bold_text {
    font-weight: bold;
}

.form_list {
    list-style: none;
}

.required_mark {
    color: #F00;
    font-weight: bold;
    font-size: 14px;
}

.center_horizontal {
    margin: 0 auto;
}

.small_block {
    width: 400px;
}

.med_block {
    width: 600px;
}

.big_block {
    width: 900px;
}

.form_block {
    border-radius: 5px;
    padding-bottom: 15px;
    padding-top: 1px;
}

.vertical_spaced {
    margin-top: 100px;
    margin-bottom: 100px;
}

.user_data_text {

}

.description {
    color: #525252;
}

.fade_anim {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.fade_anim.ng-hide-add,
.fade_anim.ng-hide-remove {
    display: block !important;
}

.fade_anim.ng-hide {
    opacity: 0;
}

li.input-group .input-group-addon.inline_addon, .inline_addon {
    min-width: 0;
}

.form_header {
    margin: 15px 0;
}

.vertical_form_block {
    padding: 15px 30px;
}

.horizontal_list {
    padding: 0;
}

ul.horizontal_list li {
    display: inline-block;
    padding: 5px 10px;
}

.centered_text {
    text-align: center;
}

.inline_list li {
    display: inline-block;
}

.bordered_top_form {
    border-top: 1px dashed #A2A2A2;
}

.alert_placeholder {
    text-align: center;
}

.text_placeholder {
    letter-spacing: 3px;
    color: #8F8F8F;
}

.clickable {
    cursor: pointer;
}

.big_icon {
    font-size: 2em;
    line-height: 1.8em;
}

.social_btn_desc {
    font-size: 2em;
    line-height: 2em;
}

#profileSocialBlock .social_btn_desc {
    font-size: 1em;
    line-height: 1em;
}

.social_btn_link:hover {
    text-decoration: none;
}

.pseudo_favicon {
    border-radius: 5px;
    background-color: #FFF;
    color: #008000;
    font-size: 1.8em;
    padding: 0 3px;
}

.clear_list {
    list-style: none;
}

.margin_bottom_small {
    margin-bottom: 15px;
}

.unspaced_modal-body {
    padding: 0;
}

.menu_spinner {
    background: url('/img/spinner_deactive.gif') no-repeat center;
}

.menu_spinner.active_spinner {
    background: url('/img/spinner_active.gif') no-repeat center;
}

.modal_huge .modal-dialog {
    width: 900px;
}

.menu_spinner a {
    font-weight: bold;
}

.inline_block {
    display: inline-block;
}

.small_select_width {
    width: 325px;
}

.med_select_width {
    width: 400px;
}

.big_select_width {
    width: 500px;
}

/* END Classes */

/* IDs */
#sign_up_block, #sign_in_block {
    padding: 40px;
}

#sign_up_form_block, #sign_in_form_block {
    padding: 0 15px;
}

#sign_in_header {
    margin-bottom: 15px;
}

#self_presentation_block {
    font-size: 1.3em;
    margin: 15px 0;
}

#features_block li {
    display: inline-block;
    margin: 15px 25px;
}

#personal_data_list li {
    margin-bottom: 5px;
    font-size: 1.1em;
}

#signInForm ul {
    border-radius: 5px;
    padding: 15px;
}

#button_add_link {
    vertical-align: bottom;
    width: 195px;
    text-align: center;
}

/* END IDs */

/* Screen-specified options */
@media (min-width: 1px) and (max-width: 680px) {
    .mobile_centered {
        margin: 0;
        padding: 0;
    }

    #sign_in_form_block {
        float: none;
        padding: 0;
    }

    .marketing_header {
        font-size: 3em;
    }

    #features_block li {
        display: block;
        text-align: center;
        margin: 0;
    }

    .vertical_spaced {
        margin-top: 0;
    }

    .mobile_text_left {
        text-align: left;
    }

    .mobile_full_width {
        width: 100%;
    }

    .modal_huge .modal-dialog {
        width: 600px;
    }
}

@media (min-width: 681px) and (max-width: 989px) {
    .marketing_header {
        font-size: 3em;
    }

    .modal_huge .modal-dialog {
        width: 700px;
    }
}

/* END Screen-specified options */