/* Cross-browser html5 hack*/
input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, canvas {
    display: block;
}

.modal-body .alert {
    margin-left: 0;
    margin-right: 0;
}
/* END Cross-browser html5 hack*/

/* Elements */
html, body {
    height: 100%;
    min-height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}
/* END Elements */

/* Classes */
.wrapper {
    min-height: 100%;
    position: relative;
}
/* END Classes */

/* IDs */

/* END IDs */

/* Screen-specified options */
@media (min-width: 980px) and (max-width: 1199px) {
    .container {
        max-width: none;
    }

    .block_large {
        max-width: 1024px;
        width: 1024px;
    }

    .block_large .promotion_tile {
        margin: 15px 25px;
    }

    .tile-container {
        width: 340px;
        margin: 0 15px;
    }

    .promotion-code-tile {
        display: block;
    }

    .promotion-name-tile {
        margin-bottom: 25px;
    }

    .tile-wrapper {
        max-width: 1199px;
    }
}


/* END Screen-specified options */