/* Classes */
.marketing_header {
    color: #FFF;
}

.marketing_subheader {
    color: #FFF;
}

.btn-green {
    color: #FFF;
    background: #5C9B00;
    border-color: #FFF;
}

.btn-green:hover {
    color: #FFF;
    background: #6DB700;
}

.filled_bg {
    background-color: #6DB700;
    color: #FFF;
}

.filled_bg a {
    color: #FFF;
}

.filled_bg .btn-invisible {
    color: #000;
}

.unfilled_bg {
    background-color: #FFF;
    color: #000;
}

.unfilled_bg a {
    color: #000;
}

.unfilled_bg .btn-invisible {
    color: #000;
}

/* END Classes */

/* IDs */

/* END IDs */