<top-private-menu></top-private-menu>

<div ng-controller="dashboardController">
    <div class="container">
        <h3>dashboard success, prepare for registration</h3>

        <div class="unfilled_bg small_block form_block" style="padding: 5px 15px;">
            <h3>Аккаунты</h3>
            <ul>
                <li ng-repeat="account in accounts" style="line-height: 35px;">{{account.title}}
                    <button type="button"
                            ng-click="removeAccount(account)"
                            class="btn btn-warning pull_right"
                            ajax-disabler="isAjaxLoading"
                            ng-disabled="isAjaxLoading">
                        <i class="glyphicon glyphicon-remove"> </i>Удалить
                    </button>
                </li>
            </ul>
            <div>
                <button type="button" class="btn btn-default btn-block" ng-click="addAccount()">Добавить аккаунт
                </button>
            </div>
            <!--TODO remove (just demo for a catalogs tests) -->
            <ul class="vertical_form_block" style="padding: 15px 0;">
                <li class="input-group">
                    <catalogue url="companiesDataUrl"
                               model="companyCatalogueModel"
                               items-name="companies"
                               string-search="false"
                               search-field="name"></catalogue>
                </li>
            </ul>

            <!-- Button to trigger a default modal with a scope as an object {title:'', content:'', etc.} -->
            <button type="button" class="btn btn-lg btn-primary" data-placement="center" data-animation="animation-fadeAndScale" bs-modal="modal">Click to toggle modal
                <br>
                <small>(using an object)</small>
            </button>

            <!-- You can use a custom html template with the `data-template` attr -->
            <button type="button" class="btn btn-lg btn-danger" data-animation="animation-flipX" data-template="modal/docs/modal.tpl.demo.html" bs-modal="modal">Custom Modal
                <br>
                <small>(using data-template)</small>
            </button>
            <!--TODO END remove-->
        </div>
    </div>

    <div aria-hidden="true" ng-controller="registrationModalController">
        <script type="text/ng-template" id="registrationModalContent.html">
            <div ng-show="showAccountRegistration == true">
                <div class="modal-header">
                    <h4 class="modal-title">Настройка аккаунта</h4>
                </div>
                <div class="modal-body unspaced_modal-body">
                    <!-- Account Data -->
                    <form name="accountDataForm" role="form">
                        <ul class="clear_list vertical_form_block">
                            <li class="form_header">
                                <h5>Пожалуйста, укажите название аккаунта - юридическое лицо, от имени которого
                                    совершаются действия
                                </h5>
                            </li>
                            <li class="input-group">
                                <label for="accountData-title" class="input-group-addon" title="Обязательное поле">
                                    Название аккаунта<span class="required_mark">*</span>
                                </label>
                                <input id="accountData-title" type="text"
                                       ng-model="accountData.title" class="form-control"
                                       required
                                       maxlength="20"
                                       ng-maxlength="20"/>
                            </li>
                            <li>
                                <alert ng-repeat="message in registrationModalMessages" type="message.type"
                                       close="closeAlert($index)">
                                    {{message.msg}}
                                </alert>
                            </li>
                            <li>
                                <span class="required_mark">*</span> - Обязательные поля
                            </li>
                        </ul>
                    </form>
                    <!-- END Account Data -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success"
                            ng-disabled="accountDataForm.$invalid || isAjaxLoading"
                            ng-click="saveAccountData()" ajax-disabler="isAjaxLoading">
                        Далее <i class="glyphicon glyphicon-arrow-right"> </i>
                    </button>
                </div>
            </div>

            <add-company-wizard model="companyData"
                                account="firstAccount"
                                ng-show="showCompanyWizard"
                                modal="accountModal"></add-company-wizard>

        </script>
    </div>
</div>