<!--Address Data-->
<form name="adressDataForm" role="form">
    <div class="clear_list mobile_centered vertical_form_block bordered_top_form">

        <button type="button" class="btn btn-info margin_bottom_small pull_right fade_anim" ng-click="showAddForm = true;"
                ng-show="!showAddForm" style="margin-top: 10px;">
            <i class="glyphicon glyphicon-plus"> </i> Добавить
        </button>
        <div class="form_header"><h4>Почтовые адреса</h4></div>

        <ul class="alert alert-info clear_list">
            <li ng-hide="addresses.length > 0" class="alert_placeholder"><i>(Нет адресов)</i></li>
           <!-- <li ng-show="addresses.length > 0" ng-repeat="address in addresses">  //TODO fix
                <span ng-show="address.type == 'physical'"><strong>Физический</strong>: </span>
                <span ng-show="address.type == 'legal'"><strong>Юридический</strong>: </span>
                <span ng-show="address.country">{{address.country}},  </span>
                <span ng-show="address.index">{{address.index}} </span>
                <span ng-show="address.region">{{address.region}}</span>
                <span ng-show="address.city">{{address.city}}</span>
                <span ng-show="address.area">{{address.area}}</span>
                <span ng-show="address.street">{{address.street}}</span>
                <span ng-show="address.house">, дом {{address.house}}</span>
                <span ng-show="address.housing">, корпус {{address.housing}}</span>
                <span ng-show="address.apartment">, квартира {{address.apartment}}</span>
                    <span class="pull_right clickable" ng-click="remove('addresses', address)"
                          title="Удалить этот адрес">
                        <i class="glyphicon glyphicon-remove"> </i>
                    </span>
            </li>-->
        </ul>

        <ul ng-show="showAddForm" class="mobile_centered clear_list fade_anim" style="padding: 0;">
            <li class="input-group">
                <label for="address-type" class="input-group-addon">Вид адреса</label>
                <select id="address-type"
                        ng-model="tempAddress.type" class="form-control">
                    <option value="physical">Физический</option>
                    <option value="legal">Юридический</option>
                </select>
            <li>
            <li class="input-group">
                <label for="address-country" class="input-group-addon">Страна</label>
                <input id="address-country" type="text"
                       ng-model="tempAddress.country" class="form-control"/>
            </li>
            <li class="input-group">
                <label for="address-index" class="input-group-addon">Индекс</label>
                <input id="address-index" type="number"
                       ng-model="tempAddress.index" class="form-control"/>
            </li>
            <li class="input-group">
                <label for="address-region" class="input-group-addon">Регион</label>
                <input id="address-region" type="text"
                       ng-model="tempAddress.region" class="form-control"/>
            </li>
            <li class="input-group">
                <label for="address-city" class="input-group-addon">Город</label>
                <input id="address-city" type="text"
                       ng-model="tempAddress.city" class="form-control"/>
            </li>
            <li class="input-group">
                <label for="address-area" class="input-group-addon">Район</label>
                <input id="address-area" type="text"
                       ng-model="tempAddress.area" class="form-control"/>
            </li>
            <li class="input-group">
                <label for="address-street" class="input-group-addon">Улица</label>
                <input id="address-street" type="text"
                       ng-model="tempAddress.street" class="form-control"/>
            </li>
            <li class="input-group">
                <label for="address-house" class="input-group-addon">Дом</label>
                <input id="address-house" type="text"
                       ng-model="tempAddress.house" class="form-control"/>
            </li>
            <li class="input-group">
                <label for="address-housing" class="input-group-addon">Корпус</label>
                <input id="address-housing" type="text"
                       ng-model="tempAddress.housing" class="form-control"/>
            </li>
            <li class="input-group">
                <label for="address-apartment" class="input-group-addon">Квартира</label>
                <input id="address-apartment" type="text"
                       ng-model="tempAddress.apartment" class="form-control"/>
            </li>

            <li>
                <button type="submit" class="btn btn-success pull_right" ng-click="addAddress()">
                    <span ng-show="addresses.length == 0"> Сохранить</span>
                    <span ng-show="addresses.length > 0"> Добавить ещё один адрес</span>
                </button>
                <button type="reset" class="btn btn-danger" ng-click="showAddForm = false">
                    <span> Отмена</span>
                </button>
            </li>
        </ul>
    </div>
</form>
<!--END Address Data-->