<form name="PersonsDataForm" role="form">
    <div class="clear_list mobile_centered vertical_form_block bordered_top_form">

        <button class="btn btn-info margin_bottom_small pull_right fade_anim" ng-click="showAddForm = true;"
                ng-show="!showAddForm" style="margin-top: 10px;">
            <i class="glyphicon glyphicon-plus"> </i> Добавить
        </button>
        <div class="form_header"><h4>Ответственные лица</h4></div>

        <ul class="alert alert-info clear_list">
            <li ng-hide="persons.length > 0" class="alert_placeholder"><i>(Нет ответственных лиц)</i></li>
            <li ng-show="persons.length > 0" ng-repeat="person in persons">
                <span ng-show="person.position"><strong>Должность</strong>: {{person.position}}, </span>
                <span ng-show="person.name"><strong>ФИО</strong>: {{person.name}}</span>
                    <span class="pull_right clickable" ng-click="remove(person)" title="Удалить">
                        <i class="glyphicon glyphicon-remove"> </i>
                    </span>
            </li>
        </ul>

        <ul ng-show="showAddForm" class="mobile_centered clear_list fade_anim" style="padding: 0;">
            <li class="input-group">
                <label for="person-position" class="input-group-addon">
                    Должность
                </label>
                <input id="person-position" type="text"
                       ng-model="temp.position" class="form-control"/>
            </li>
            <li class="input-group">
                <label for="person-name" class="input-group-addon">
                    ФИО
                </label>
                <input id="person-name" type="text"
                       ng-model="temp.name" class="form-control"/>
            </li>

            <li>
                <button type="submit" class="btn btn-success pull_right" ng-click="add()"
                        ng-disabled="PersonsDataForm.$invalid">
                    <span ng-show="persons.length == 0"> Сохранить</span>
                    <span ng-show="persons.length > 0"> Добавить ещё одно ответственное лицо</span>
                </button>
                <button type="reset" class="btn btn-danger" ng-click="showAddForm = false">
                    <span> Отмена</span>
                </button>
            </li>
        </ul>
    </div>
</form>