<form name="phonesDataForm" role="form">
    <div class="clear_list mobile_centered vertical_form_block bordered_top_form">

        <button type="button" class="btn btn-info margin_bottom_small pull_right fade_anim"
                ng-click="showAddForm = true;"
                ng-show="!showAddForm" style="margin-top: 10px;">
            <i class="glyphicon glyphicon-plus"> </i> Добавить
        </button>
        <div class="form_header"><h4>Телефоны</h4></div>

        <ul class="alert alert-info clear_list">
            <li ng-hide="phones.length > 0" class="alert_placeholder"><i>(Нет телефонов)</i></li>
            <li ng-repeat="phone in phones" ng-show="phones.length > 0">
                <span ng-show="phone.country_code">{{phone.country_code}} </span>
                <span ng-show="phone.city_code">({{phone.city_code}}) </span>
                <span ng-show="phone.number">{{phone.number}}</span>
                <span ng-show="phone.additional_number"> , дополнительный {{phone.additional_number}}</span>
                    <span class="pull_right clickable" ng-click="remove(phone)" title="Удалить">
                        <i class="glyphicon glyphicon-remove"> </i>
                    </span>
            </li>
        </ul>

        <ul ng-show="showAddForm" class="mobile_centered clear_list fade_anim" style="padding: 0;">
            <li class="input-group">
                <label for="phone-type" class="input-group-addon">
                    Вид телефона
                </label>
                <select id="phone-type"
                        ng-model="temp.type" class="form-control" required>
                    <option value="main">Основной</option>
                    <option value="cell">Мобильный</option>
                    <option value="work">Рабочий</option>
                    <option value="home">Домашний</option>
                    <option value="work_fax">Рабочий факс</option>
                    <option value="home_fax">Домашний факс</option>
                    <option value="other">Другой</option>
                </select>
            <li>
            <li class="input-group">
                <label for="phone-number" class="input-group-addon" title="Обязательное поле">
                    Номер телефона
                    <span class="required_mark">*</span>
                </label>
                <input id="phone-number" type="text"
                       ng-model="temp.number" class="form-control"
                       placeholder="79012345678"
                       required/>
            </li>
            <li class="input-group">
                <label for="phone-additional_number" class="input-group-addon">Добавочный</label>
                <input id="phone-additional_number" type="text"
                       ng-model="temp.additional_number" class="form-control"/>
            </li>
            <li>
                <button type="submit" class="btn btn-success pull_right" ng-click="add()"
                        ng-disabled="phonesDataForm.$invalid">
                    <span ng-show="phones.length === 0"> Сохранить</span>
                    <span ng-show="phones.length > 0"> Добавить ещё один телефон</span>
                </button>
                <button type="reset" class="btn btn-danger" ng-click="showAddForm = false">
                    <span> Отмена</span>
                </button>
            </li>
        </ul>
    </div>
</form>