<!--Sites Data-->
<form name="sitesDataForm" role="form">
    <div class="clear_list mobile_centered vertical_form_block bordered_top_form">

        <button class="btn btn-info margin_bottom_small pull_right fade_anim" ng-click="showAddForm = true;"
                ng-show="!showAddForm" style="margin-top: 10px;">
            <i class="glyphicon glyphicon-plus"> </i> Добавить
        </button>
        <div class="form_header"><h4>Сайты</h4></div>

        <ul class="alert alert-info clear_list">
            <li ng-hide="sites.length > 0" class="alert_placeholder"><i>(Нет сайтов)</i></li>
            <!--<li ng-show="sites.length > 0" ng-repeat="site in sites"> //TODO fix
                <span ng-show="site.type"><strong>Тип</strong>: {{site.type}}, </span>
                <span ng-show="site.url"><strong>Адресс</strong>: {{site.url}}</span>
                    <span class="pull_right clickable" ng-click="remove('sites', site)" title="Удалить этот сайт">
                        <i class="glyphicon glyphicon-remove"> </i>
                    </span>
            </li>-->
        </ul>

        <ul ng-show="showAddForm" class="mobile_centered clear_list fade_anim" style="padding: 0;">
            <li class="input-group">
                <label for="site-type" class="input-group-addon">Тип сайта</label>
                <input id="site-type" type="text"
                       ng-model="tempSite.type" class="form-control"/>
            </li>
            <li class="input-group">
                <label for="site-url" class="input-group-addon">Адрес</label>
                <input id="site-url" type="email"
                       ng-model="tempSite.url" class="form-control"/>
            </li>

            <li>
                <button class="btn btn-success pull_right" ng-click="addSite()">
                    <span ng-show="sites.length == 0"> Сохранить</span>
                    <span ng-show="sites.length > 0"> Добавить ещё один сайт</span>
                </button>
                <button type="reset" class="btn btn-danger" ng-click="showAddForm = false">
                    <span> Отмена</span>
                </button>
            </li>
        </ul>
    </div>
</form>
<!--END Sites Data-->