<top-private-menu></top-private-menu>

<div ng-controller="dashboardController">
<h3>dashboard success, prepare for registration</h3>

<div aria-hidden="true" ng-controller="registrationModalController">
<script type="text/ng-template" id="registrationModalContent.html">

<!--Wizard Step 0-->
<div ng-show="registrationStep == 0">
    <div class="modal-header">
        <h4 class="modal-title">Настройка аккаунта</h4>
    </div>
    <div class="modal-body unspaced_modal-body">
        <!-- Account Data -->
        <form name="accountDataForm" role="form">
            <ul class="clear_list vertical_form_block">
                <li class="form_header">
                    <h5>Пожалуйста, укажите название аккаунта - юридическое лицо, от имени которого совершаются
                        действия</h5>
                </li>
                <li class="input-group">
                    <label for="accountData-title" class="input-group-addon" title="Обязательное поле">
                        Название аккаунта<span class="required_mark">*</span>
                    </label>
                    <input id="accountData-title" type="text"
                           ng-model="accountData.title" class="form-control"
                           required
                           maxlength="20"
                           ng-maxlength="20"/>
                </li>
                <li>
                    <span class="required_mark">*</span> - Обязательные поля
                </li>
            </ul>
        </form>
        <!-- END Account Data -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success"
                ng-disabled="accountDataForm.$invalid || isAjaxLoading"
                ng-click="saveAccountData()" ajax-disabler="isAjaxLoading">
            Далее <i class="glyphicon glyphicon-arrow-right"> </i>
        </button>
    </div>
</div>
<!--END Wizard Step 0-->

<!--Wizard Step 1-->
<div ng-show="registrationStep == 1">
    <div class="modal-header">
        <h4 class="modal-title">Создание Юридического лица</h4>
    </div>
    <div class="modal-body unspaced_modal-body">
        <!-- Juridic Common Data -->
        <form name="juridicCommonDataForm" role="form">
            <ul class="clear_list vertical_form_block">
                <li><h4>Юридическое лицо</h4></li>
                <li class="input-group">
                    <label for="juridicData-short" class="input-group-addon" title="Обязательное поле">
                        Краткое наименование<span class="required_mark">*</span>
                    </label>
                    <input id="juridicData-short" type="text"
                           ng-model="juridicData.short" class="form-control"
                           required/>
                </li>
                <li class="input-group">
                    <label for="juridicData-inn" class="input-group-addon" title="Обязательное поле">
                        ИНН<span class="required_mark">*</span>
                    </label>
                    <input id="juridicData-inn" type="text" name="innInput"
                           ng-model="juridicData.inn" class="form-control"
                           ng-minlength="10"
                           minlength="10"
                           maxlength="12"
                           ng-maxlength="12"
                           required/>
                </li>
                <li>
                    <div class="alert alert-danger fade_anim"
                         ng-show="juridicCommonDataForm.innInput.$dirty && juridicCommonDataForm.innInput.$invalid">
                        ИНН юридического лица - 10 цифр, Индивидуального предпринимателя - 12 цифр
                    </div>
                </li>
                <li class="input-group">
                    <label for="juridicData-name" class="input-group-addon">Полное наименование</label>
                    <input id="juridicData-name" type="text"
                           ng-model="juridicData.name" class="form-control"/>
                </li>
                <li class="input-group">
                    <label for="juridicData-ogrn" class="input-group-addon">ОГРН</label>
                    <input id="juridicData-ogrn" type="text"
                           ng-model="juridicData.ogrn" class="form-control"
                           minlength="13"
                           maxlength="13"
                           ng-minlength="13"
                           ng-maxlength="13"/>
                </li>
                <li class="input-group">
                    <label for="juridicData-kpp" class="input-group-addon">КПП</label>
                    <input id="juridicData-kpp" type="text"
                           ng-model="juridicData.kpp" class="form-control"/>
                </li>
                <li>
                    <span class="required_mark">*</span> - Обязательные поля
                </li>
            </ul>
        </form>
        <!--END Juridic Common Data-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success"
                ng-disabled="juridicCommonDataForm.$invalid || isAjaxLoading"
                ng-click="saveData()" ajax-disabler="isAjaxLoading">
            Далее <i class="glyphicon glyphicon-arrow-right"> </i>
        </button>
    </div>
</div>
<!--END Wizard Step 1-->

<!--Wizard Step 2-->
<div ng-show="registrationStep == 2">
    <div class="modal-header">
        <h4 class="modal-title">Создание Юридического лица - Контакты</h4>
    </div>
    <div class="modal-body unspaced_modal-body">
        <!--Phones Data-->
        <add-phone-form model="juridicData.contacts.phones"></add-phone-form>
        <!--END Phones Data-->

        <!--Address Data-->
        <add-address-form model="juridicData.contacts.addresses"></add-address-form>
        <!--END Address Data-->

        <!--Email Data-->
        <add-email-form model="juridicData.contacts.emails"></add-email-form>
        <!--END Email Data-->

        <!--Sites Data-->
        <add-site-form model="juridicData.contacts.sites"></add-site-form>
        <!--END Sites Data-->
        <ul class="clear_list">
            <li>
                <span class="required_mark">*</span> - Обязательные поля
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull_left" ng-click="prevStep()">
            <i class="glyphicon glyphicon-arrow-left"> </i> Назад
        </button>
        <button type="button" class="btn btn-default" ng-click="nextStep()">Пропустить</button>
        <button type="button" class="btn btn-success"
                ng-disabled="isAjaxLoading"
                ng-click="saveData()" ajax-disabler="isAjaxLoading">
            Далее <i class="glyphicon glyphicon-arrow-right"> </i>
        </button>
    </div>
</div>
<!--END Wizard Step 2-->

<!--Wizard Step 3-->
<div ng-show="registrationStep == 3">
    <div class="modal-header">
        <h4 class="modal-title">Создание Юридического лица - Дополнительные данные</h4>
    </div>
    <div class="modal-body unspaced_modal-body">
        <!--Juridic details-->
        <form name="juridicDetailsDataForm" role="form">
            <ul class="clear_list vertical_form_block">
                <li class="input-group">
                    <label for="juridicData-forming_method" class="input-group-addon">Способ образования</label>
                    <input id="juridicData-forming_method" type="text"
                           ng-model="juridicData.forming_method" class="form-control"/>
                </li>
                <li class="input-group">
                    <label for="juridicData-capital" class="input-group-addon">
                        Размер уставного капитала
                    </label>
                    <input id="juridicData-capital" type="text"
                           ng-model="juridicData.capital" class="form-control"/>
                </li>
                <li class="input-group">
                    <label for="juridicData-okved" class="input-group-addon">Коды ОКВЭД</label>
                    <input id="juridicData-okved" type="text"
                           ng-model="juridicData.okved" class="form-control"/>
                </li>
                <li>
                    <span class="required_mark">*</span> - Обязательные поля
                </li>
            </ul>
        </form>
        <!--END Juridic details-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull_left" ng-click="prevStep()">
            <i class="glyphicon glyphicon-arrow-left"> </i> Назад
        </button>
        <button type="button" class="btn btn-default" ng-click="nextStep()">Пропустить</button>
        <button type="button" class="btn btn-success"
                ng-disabled="juridicDetailsDataForm.$invalid || isAjaxLoading"
                ng-click="saveData()" ajax-disabler="isAjaxLoading">
            Далее <i class="glyphicon glyphicon-arrow-right"> </i>
        </button>
    </div>
</div>
<!--END Wizard Step 3-->

<!--Wizard Step 4-->
<div ng-show="registrationStep == 4">
    <div class="modal-header">
        <h4 class="modal-title">Создание Юридического лица - Основатели и учередители</h4>
    </div>
    <div class="modal-body unspaced_modal-body">
        <!--Founders Data-->
        <add-founder-form model="juridicData.founders"></add-founder-form>
        <!--END Founders Data-->

        <!--Authorized persons-->
        <add-authorized-person-form model="juridicData.authorized_persons"></add-authorized-person-form>
        <!--END Authorized persons-->
        <ul class="clear_list">
            <li>
                <span class="required_mark">*</span> - Обязательные поля
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull_left" ng-click="prevStep()">
            <i class="glyphicon glyphicon-arrow-left"> </i> Назад
        </button>
        <button type="button" class="btn btn-default" ng-click="nextStep()">Пропустить</button>
        <button type="button" class="btn btn-success"
                ng-disabled="isAjaxLoading"
                ng-click="saveData()" ajax-disabler="isAjaxLoading">
            Далее <i class="glyphicon glyphicon-arrow-right"> </i>
        </button>
    </div>
</div>
<!--END Wizard Step 4-->

<!--Wizard Step 5-->
<div ng-show="registrationStep == 5">
    <div class="modal-header">
        <h4 class="modal-title">Создание Юридического лица - ПФР и ФМС</h4>
    </div>
    <div class="modal-body unspaced_modal-body">
        <!--PFR-->
        <form name="juridicPfrDataForm" role="form">
            <ul class="clear_list vertical_form_block bordered_top_form">
                <li class="form_header"><h4>ПФР</h4></li>
                <li class="input-group">
                    <label for="juridicData-pfr-insurance" class="input-group-addon">
                        Номер страхования в ПФР</label>
                    <input id="juridicData-pfr-insurance" type="text"
                           ng-model="juridicData.pfr.insurance" class="form-control"/>
                </li>
                <li class="input-group">
                    <label for="juridicData-pfr-number" class="input-group-addon">Номер ПФР</label>
                    <input id="juridicData-pfr-number" type="text"
                           ng-model="juridicData.pfr.number" class="form-control"/>
                </li>
                <li class="input-group">
                    <label for="juridicData-pfr-date_registration" class="input-group-addon">
                        Дата постановки на учет ПФР
                    </label>
                    <input id="juridicData-pfr-date_registration" class="form-control" type="text"
                           datepicker-popup="dd-MMMM-yyyy"
                           is-open="openedPfrRegistrationDate"
                           min="'1900-01-01'"
                           max="today"
                           datepicker-options="dateOptions" date-disabled="disabled(date,mode)"
                           ng-model="juridicData.pfr.date_registration"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info" ng-click="openDatePopup('openedPfrRegistrationDate')">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </button>
                </span>
                </li>
            </ul>
        </form>
        <!--END PFR-->

        <!--FMS-->
        <form name="juridicFmsDataForm" role="form">
            <ul class="clear_list vertical_form_block bordered_top_form">
                <li class="form_header"><h4>ФМС</h4></li>
                <li class="input-group">
                    <label for="juridicData-fms-insurance" class="input-group-addon">
                        Номер страхования в ФМС
                    </label>
                    <input id="juridicData-fms-insurance" type="text"
                           ng-model="juridicData.fms.insurance" class="form-control"/>
                </li>
                <li class="input-group">
                    <label for="juridicData-fms-number" class="input-group-addon">Номер ФМС</label>
                    <input id="juridicData-fms-number" type="text"
                           ng-model="juridicData.fms.number" class="form-control"/>
                </li>
                <li class="input-group">
                    <label for="juridicData-fms-date_registration" class="input-group-addon">
                        Дата постановки на учет ФМС
                    </label>
                    <input id="juridicData-fms-date_registration" class="form-control" type="text"
                           datepicker-popup="dd-MMMM-yyyy"
                           is-open="openedFmsRegistrationDate"
                           min="'1900-01-01'"
                           max="today"
                           datepicker-options="dateOptions" date-disabled="disabled(date,mode)"
                           ng-model="juridicData.fms.date_registration"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info" ng-click="openDatePopup('openedFmsRegistrationDate')">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </button>
                </span>
                </li>
            </ul>
        </form>
        <!--END FMS-->
        <ul class="clear_list">
            <li>
                <span class="required_mark">*</span> - Обязательные поля
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull_left" ng-click="prevStep()">
            <i class="glyphicon glyphicon-arrow-left"> </i> Назад
        </button>
        <button type="button" class="btn btn-default" ng-click="nextStep()">Пропустить</button>
        <button type="button" class="btn btn-success"
                ng-disabled="juridicPfrDataForm.$invalid || juridicFmsDataForm.$invalid || isAjaxLoading"
                ng-click="saveData()" ajax-disabler="isAjaxLoading">
            Далее <i class="glyphicon glyphicon-arrow-right"> </i>
        </button>
    </div>
</div>
<!--END Wizard Step 5-->

<!--Wizard Step 6-->
<div ng-show="registrationStep == 6">
    <div class="modal-header">
        <h4 class="modal-title">Создание Юридического лица - Лицензии и заявители</h4>
    </div>
    <div class="modal-body unspaced_modal-body">
        <!--Licenses-->
        <add-license-form model="juridicData.licenses"></add-license-form>
        <!--END Licenses-->

        <!--Applicants-->
        <add-applicants-form model="juridicData.applicants"></add-applicants-form>
        <!--END Applicants-->
        <ul class="clear_list">
            <li>
                <span class="required_mark">*</span> - Обязательные поля
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull_left" ng-click="prevStep()">
            <i class="glyphicon glyphicon-arrow-left"> </i> Назад
        </button>
        <button type="button" class="btn btn-default" ng-click="nextStep()">Пропустить</button>
        <button type="button" class="btn btn-success"
                ng-disabled="isAjaxLoading"
                ng-click="saveData()" ajax-disabler="isAjaxLoading">
            Далее <i class="glyphicon glyphicon-arrow-right"> </i>
        </button>
    </div>
</div>
<!--END Wizard Step 6-->

<!--Wizard Step 7-->
<div ng-show="registrationStep == 7">
    <div class="modal-header">
        <h4 class="modal-title">Создание Юридического лица - Налоги</h4>
    </div>
    <div class="modal-body unspaced_modal-body">
        <!--Tax details-->
        <form name="juridicTaxDataForm" role="form">
            <ul class="clear_list vertical_form_block">
                <li class="form_header"><h4>Налоги</h4></li>
                <li class="input-group">
                    <label for="juridicData-tax-accountingSystem" class="input-group-addon">
                        Вид системы налогового учета
                    </label>
                    <input id="juridicData-tax-accountingSystem" type="text"
                           ng-model="juridicData.tax.accountingSystem" class="form-control"
                           readonly/>
                <span class="input-group-btn">
                    <button class="btn btn-info" ng-click="openCatalog()" disabled>
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
                </li>
                <li class="input-group">
                    <label for="juridicData-tax-rate" class="input-group-addon">
                        Процентная ставка налога</label>
                    <input id="juridicData-tax-rate" type="text"
                           ng-model="juridicData.tax.rate" class="form-control"/>
                </li>
                <li class="input-group">
                    <label for="juridicData-tax-linksEgrulEgruip" class="input-group-addon">
                        Ссылка на файлы выписки из ЕГРЮЛ/ЕГРЮИП
                    </label>
                    <input id="juridicData-tax-linksEgrulEgruip" type="text"
                           ng-model="juridicData.tax.linksEgrulEgruip" class="form-control"/>
                </li>
                <li class="input-group">
                    <label for="juridicData-tax-agency_number" class="input-group-addon">Номер налоговой</label>
                    <input id="juridicData-tax-agency_number" type="text"
                           ng-model="juridicData.tax.agency_number" class="form-control"/>
                </li>
                <li class="input-group">
                    <label for="juridicData-tax-date_accounting" class="input-group-addon">
                        Дата постановки на учёт
                    </label>
                    <input id="juridicData-tax-date_accounting" class="form-control" type="text"
                           datepicker-popup="dd-MMMM-yyyy"
                           is-open="openedAccountingDate"
                           min="'1900-01-01'"
                           max="today"
                           datepicker-options="dateOptions" date-disabled="disabled(date,mode)"
                           ng-model="juridicData.tax.date_accounting"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info" ng-click="openDatePopup('openedAccountingDate')">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </button>
                </span>
                </li>
                <li class="input-group">
                    <label for="juridicData-tax-registration_agency_number" class="input-group-addon">
                        Номер налоговой, где проходила регистрация
                    </label>
                    <input id="juridicData-tax-registration_agency_number" type="text"
                           ng-model="juridicData.tax.registration_agency_number" class="form-control"/>
                </li>
                <li class="input-group">
                    <label for="juridicData-tax-registrationDate" class="input-group-addon">Дата регистрации</label>
                    <input id="juridicData-tax-registrationDate" class="form-control" type="text"
                           datepicker-popup="dd-MMMM-yyyy"
                           is-open="openedRegistrationDate"
                           min="'1900-01-01'"
                           max="today"
                           datepicker-options="dateOptions" date-disabled="disabled(date,mode)"
                           ng-model="juridicData.tax.registrationDate"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info" ng-click="openDatePopup('openedRegistrationDate')">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </button>
                </span>
                </li>
            </ul>
        </form>
        <!-- END Tax details -->

        <!--Other Juridic Data-->
        <form name="juridicOtherDataForm" role="form">
            <ul class="clear_list vertical_form_block bordered_top_form">
                <li class="form_header"><h4>Остальные учредительные документы</h4></li>
                <li class="input-group">
                    <label for="juridicData-misc-other-charterFilesLink" class="input-group-addon">
                        Ссылка на файлы устава
                    </label>
                    <input id="juridicData-misc-other-charterFilesLink" type="text"
                           ng-model="juridicData.misc.other.charterFilesLink" class="form-control"
                           readonly/>
                <span class="input-group-btn">
                    <button class="btn btn-info" ng-click="openCatalog()" disabled>
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
                </li>
                <li class="input-group">
                    <label for="juridicData-misc-other-juridicFaceDecisionDocName" class="input-group-addon">
                        Наименование документа с решением о создании юр лица
                    </label>
                    <input id="juridicData-misc-other-juridicFaceDecisionDocName" type="text"
                           ng-model="juridicData.misc.other.juridicFaceDecisionDocName" class="form-control"/>
                </li>
                <li class="input-group">
                    <label for="juridicData-misc-other-documentNumber" class="input-group-addon">Номер документа</label>
                    <input id="juridicData-misc-other-documentNumber" type="text"
                           ng-model="juridicData.misc.other.documentNumber" class="form-control"/>
                </li>
                <li class="input-group">
                    <label for="juridicData-misc-other-documentDate" class="input-group-addon">Дата документа</label>
                    <input id="juridicData-misc-other-documentDate" class="form-control" type="text"
                           datepicker-popup="dd-MMMM-yyyy"
                           is-open="openedDocumentDate"
                           min="'1900-01-01'"
                           max="today"
                           datepicker-options="dateOptions" date-disabled="disabled(date,mode)"
                           ng-model="juridicData.misc.other.documentDate"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info" ng-click="openDatePopup('openedDocumentDate')">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </button>
                </span>
                </li>
                <li class="input-group">
                    <label for="juridicData-misc-other-doumentScansLink" class="input-group-addon">
                        Ссылки на файлы сканов документа</label>
                    <input id="juridicData-misc-other-doumentScansLink" type="text"
                           ng-model="juridicData.misc.other.doumentScansLink" class="form-control"/>
                </li>
            </ul>
        </form>
        <!--END Other Juridic Data-->

        <!--Check Data-->
        <form name="juridicCheckDataForm" role="form">
            <ul class="clear_list vertical_form_block bordered_top_form">
                <li class="form_header"><h4>Для счета</h4></li>
                <li class="input-group">
                    <label for="juridicData-misc-check-number" class="input-group-addon">
                        Ссылки на номер счета
                    </label>
                    <input id="juridicData-misc-check-number" type="text"
                           ng-model="juridicData.misc.check.checkNumber" class="form-control"
                           readonly/>
                <span class="input-group-btn">
                    <button class="btn btn-info" ng-click="openCatalog()" disabled>
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
                </li>
                <li class="input-group">
                    <label for="juridicData-misc-check-chiefAccountant" class="input-group-addon">
                        Ссылка на главного бухгалтера
                    </label>
                    <input id="juridicData-misc-check-chiefAccountant" type="text"
                           ng-model="juridicData.misc.check.chiefAccountant" class="form-control"
                           readonly/>
                <span class="input-group-btn">
                    <button class="btn btn-info" ng-click="openCatalog()" disabled>
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
                </li>

            </ul>
        </form>
        <!-- END Check Data -->
        <ul class="clear_list">
            <li>
                <span class="required_mark">*</span> - Обязательные поля
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success"
                ng-disabled="juridicTaxDataForm.$invalid || juridicOtherDataForm.$invalid || juridicCheckDataForm.$invalid || isAjaxLoading"
                ng-click="saveData(true)" ajax-disabler="isAjaxLoading"> Завершить
        </button>
    </div>
</div>
<!--END Wizard Step 7-->

<alert ng-repeat="message in messages" type="message.type" close="closeAlert($index)">
    <!--TODO check styles-->
    {{message.msg}}
</alert>
</script>
</div>

</div>