<div top-public-menu></div>

<div ng-controller="signUpController">
    <div id="sign_up_block">
        <div class="container">
            <div id="sign_up_form_block" class="pull_right">
                <form ng-submit="signUp()" name="signUpForm" role="form">
                    <ul style="list-style: none;">
                        <li class="form-group">
                            <label for="signup_email">Email </label>
                            <input type="email" id="signup_email" title="Email" alt="Email"
                                   placeholder="your@email.ru"
                                   ng-model="signUpData.email" class="form-control" required/>
                        </li>
                        <li class="form-group">
                            <label for="signup_password">Password </label>
                            <input type="password" id="signup_password" title="Password" alt="Password"
                                   ng-model="signUpData.password"
                                   ng-minlength="4"
                                   ng-maxlength="20" ng-pattern="/[a-zA-Z0-9]/" class="form-control" required/>
                        </li>
                        <!--<div class="alert" ng-class="alert.type" ng-show="alert">
                            <ul>
                                <li ng-repeat="message in alert.messages">{{message}}</li>
                            </ul>
                        </div>-->
                        <div>
                            <button class="btn btn-label-width btn-green" ng-click="signIn()">Вход</button>
                            <button class="btn btn-input-width btn-green" ng-click="signUp()">Регистрация
                            </button>
                        </div>
                    </ul>
                </form>
            </div>
            <h1 class="marketing_header">Some inspiration wow-text.</h1>

            <p class="marketing_subheader">some short explain of how we are and etc</p>
        </div>
    </div>
</div>