<top-private-menu/></top-private-menu>

<div ng-controller="userProfileController" class="unfilled_bg center_horizontal med_block form_block vertical_spaced">

<div>
    <ul id="personal_data_list" class="form_list">
        <li>
            <h3>Личные данные</h3>
        </li>
        <li>
            <span class="description">ФИО:</span>
            <span class="user_data_text" ng-show="profileData.fio">{{profileData.fio}}</span>
            <span class="text_placeholder" ng-hide="profileData.fio">______________</span>
        </li>
        <li>
            <span class="description">Email:</span>
            <span class="user_data_text" ng-show="profileData.email">{{profileData.email}}</span>
            <span class="text_placeholder" ng-hide="profileData.email">______________</span>
        </li>
        <li>
            <span class="description">Паспортные данные:</span>
            <span class="user_data_text" ng-show="profileData.passportData">{{profileData.passportData}}</span>
            <span class="text_placeholder" ng-hide="profileData.passportData">______________</span>
        </li>
        <li>
            <span class="description">Телефоны:</span>
            <span class="user_data_text" ng-show="profileData.phones">{{profileData.phones}}</span>
            <span class="text_placeholder" ng-hide="profileData.phones">______________</span>
        </li>
        <li ng-show="profileData.social.vkontakte">
            <span class="description"><img src="/img/social/mail_ru.png"/> Mail.ru:</span>
            {{profileData.social.mailru}}
        </li>
        <li ng-show="profileData.social.odnoklassniki">
            <span class="description"><img src="/img/social/odnoklassniki2.png"/> Одноклассники:</span>
            {{profileData.social.odnoklassniki}}
        </li>
        <li ng-show="profileData.social.yandex">
            <span class="description"><img src="/img/social/yandex2.png"/> Яндекс</span>
            {{profileData.social.yandex}}
        </li>
        <li ng-show="profileData.social.google">
            <span class="description"><i class="fa fa-google-plus-square"> </i> Google</span>
            {{profileData.social.google}}
        </li>
        <li ng-show="profileData.social.facebook">
            <span class="description"><i class="fa fa-facebook-square"> </i> Facebook</span>
            {{profileData.social.facebook}}
        </li>
        <li ng-show="profileData.social.vkontakte">
            <span class="description"><<i class="fa fa-vk"> </i> Вконтакте:</span>
            {{profileData.social.vkontakte}}
        </li>
        <li ng-show="profileData.social.linkedin">
            <span class="description"><i class="fa fa-linkedin-square"> </i> Linked In:</span>
            {{profileData.social.linkedin}}
        </li>
        <li>
            <button ng-click="startEdit()" class="btn btn-primary pull_right" ng-disabled="editMode"
                    style="margin-right: 10px;">
                <i class="fa fa-pencil-square-o"></i> Редактировать
            </button>
            <br style="clear: both;"/>
        </li>
    </ul>
</div>

<div ng-show="editMode" class="fade_anim">
<form name="profileForm" role="form">

<ul class="form_list mobile_centered vertical_form_block">
    <!--Personal Data-->
    <li class="form_header"><h4>Личные данные</h4></li>
    <li class="input-group">
        <label for="user-profile-lastName" class="input-group-addon">Фамилия</label>
        <input id="user-profile-lastName" type="text"
               ng-model="profileData.personal.lastName" class="form-control"/>
    </li>

    <li class="input-group">
        <label for="user-profile-firstName" class="input-group-addon">Имя</label>
        <input id="user-profile-firstName" type="text"
               ng-model="profileData.personal.firstName" class="form-control"/>
    </li>

    <li class="input-group">
        <label for="user-profile-middleName" class="input-group-addon">Отчество</label>
        <input id="user-profile-middleName" type="text"
               ng-model="profileData.personal.middleName" class="form-control"/>
    </li>

    <li class="input-group">
        <label for="user-profile-uniqId" class="input-group-addon">
            Уникальный номер
        </label>
        <input id="user-profile-uniqId" type="text"
               ng-model="profileData.personal.uniqId" class="form-control"/>
    </li>

    <li class="input-group">
        <label for="user-profile-shortName" class="input-group-addon">Краткое имя</label>
        <input id="user-profile-shortName" type="text"
               ng-model="profileData.personal.shortName" class="form-control"/>
    </li>

    <li class="input-group">
        <label for="user-profile-docType" class="input-group-addon">Вид документа</label>
        <select id="user-profile-docType" ng-model="profileData.personal.docType" class="form-control">
            <option value="passport_rf">Паспорт РФ</option>
            <option value="passport_foreign">Паспорт другого государства</option>
            <option value="military_card">Военный билет</option>
            <option value="passport_international">Заграничный паспорт</option>
            <option value="certificate">Cправка</option>
        </select>
    </li>
</ul>
<!-- END Personal Data-->

<!--Passport Data-->
<ul class="form_list mobile_centered vertical_form_block">
    <li class="form_header"><h4>Паспортные данные</h4></li>

    <li class="input-group">
        <label for="user-profile-passport-series" class="input-group-addon inline_addon">Серия</label>
        <input id="user-profile-passport-series" type="text"
               placeholder="25 01"
               ng-model="profileData.passport.series" class="form-control"/>
        <label for="user-profile-passport-number" class="input-group-addon inline_addon">Номер</label>
        <input id="user-profile-passport-number" type="text"
               placeholder="999 999"
               ng-model="profileData.passport.number" class="form-control"/>
    </li>

    <li class="input-group">
        <label for="user-profile-passport-issue" class="input-group-addon">Дата выдачи</label>
        <input id="user-profile-passport-issue" type="date"
               ng-model="profileData.passport.issue" class="form-control"/>
    </li>

    <li class="input-group">
        <label for="user-profile-passport-issuingAuthority" class="input-group-addon">Орган выдавший</label>
        <input id="user-profile-passport-issuingAuthority" type="text"
               ng-model="profileData.passport.issuingAuthority" class="form-control"/>
    </li>

    <li class="input-group">
        <label for="user-profile-passport-unitNumber" class="input-group-addon">Номер подразделения</label>
        <input id="user-profile-passport-unitNumber" type="text"
               placeholder="999-999"
               ng-model="profileData.passport.unitNumber" class="form-control"/>
    </li>

    <li class="input-group">
        <label for="user-profile-passport-birthPlace" class="input-group-addon">Место рождения</label>
        <input id="user-profile-passport-birthPlace" type="text"
               ng-model="profileData.passport.birthPlace" class="form-control"/>
    </li>

    <li class="input-group">
        <label for="user-profile-passport-birthDate" class="input-group-addon">Дата рождения</label>
        <input id="user-profile-passport-birthDate" type="date"
               ng-model="profileData.passport.birthDate" class="form-control"/>
    </li>

    <li class="input-group">
        <label for="user-profile-passport-registrationType" class="input-group-addon">Вид регистрации</label>
        <select id="user-profile-passport-registrationType"
                ng-model="profileData.passport.registrationType" class="form-control">
            <option value="temporary">Временная</option>
            <option value="permanent">Постоянная</option>
        </select>
    </li>

    <li class="input-group">
        <label for="user-profile-passport-registrationPlace" class="input-group-addon">Место регистрации</label>
        <input id="user-profile-passport-registrationPlace" type="text"
               ng-model="profileData.passport.registrationPlace" class="form-control"/>
    </li>

    <li class="input-group">
        <label for="user-profile-passport-registrationDate" class="input-group-addon">Дата регистрации</label>
        <input id="user-profile-passport-registrationDate" type="date"
               ng-model="profileData.passport.registrationDate" class="form-control"/>
    </li>
</ul>
<!--END Passport Data-->

<!--Other Data-->
<ul class="form_list mobile_centered vertical_form_block">
    <li class="form_header"><h4>Прочие данные</h4></li>

    <li class="input-group">
        <label for="user-profile-snils" class="input-group-addon">СНИЛС</label>
        <input id="user-profile-snils" type="text"
               ng-model="profileData.other.snils" class="form-control"/>
    </li>

    <li class="input-group">
        <label for="user-profile-inn" class="input-group-addon">ИНН</label>
        <input id="user-profile-inn" type="text"
               ng-model="profileData.other.inn" class="form-control"/>
    </li>
</ul>
<!--End Other Data-->

<!--Phones Data-->
<ul class="form_list mobile_centered vertical_form_block">
    <li class="form_header"><h4>Телефоны</h4></li>

    <li>
        <ul class="alert alert-info" ng-show="profileData.phones.length > 0" style="list-style: none;">
            <li ng-repeat="phone in profileData.phones">
                <span ng-show="phone.type == 'local'"><i class="glyphicon glyphicon-phone-alt"> </i></span>
                <span ng-show="phone.type == 'cell'"><i class="glyphicon glyphicon-phone"> </i></span>
                <span ng-show="phone.countryCode">{{phone.countryCode}} </span>
                <span ng-show="phone.cityCode">({{phone.cityCode}}) </span>
                <span ng-show="phone.number">{{phone.number}}</span>
                <span ng-show="phone.additionalNumber"> , дополнительный {{phone.additionalNumber}}</span>
                    <span class="pull_right clickable" ng-click="removePhone(phone)">
                        <i class="glyphicon glyphicon-remove"> </i>
                    </span>
            </li>
        </ul>
    </li>

    <li class="input-group">
        <label for="user-profile-phone-type" class="input-group-addon">Вид телефона</label>
        <select id="user-profile-phone-type"
                ng-model="tempData.phone.type" class="form-control">
            <option value="cell">Мобильный</option>
            <option value="local">Стационарный</option>
        </select>
    <li>
    <li class="input-group">
        <label for="user-profile-phone-countryCode" class="input-group-addon inline_addon">Код страны</label>
        <input id="user-profile-phone-countryCode" type="number"
               placeholder="7"
               ng-model="tempData.phone.countryCode" class="form-control"/>
        <label for="user-profile-phone-cityCode" class="input-group-addon inline_addon">Код города</label>
        <input id="user-profile-phone-cityCode" type="number"
               ng-model="tempData.phone.cityCode" class="form-control"/>
    </li>
    <li class="input-group">
        <label for="user-profile-phone-number" class="input-group-addon">Номер телефона</label>
        <input id="user-profile-phone-number" type="text"
               ng-model="tempData.phone.number" class="form-control"/>
    </li>
    <li class="input-group">
        <label for="user-profile-phone-additionalNumber" class="input-group-addon">Добавочный</label>
        <input id="user-profile-phone-additionalNumber" type="text"
               ng-model="tempData.phone.additionalNumber" class="form-control"/>
    </li>
    <li>
        <button class="btn btn-info pull_right" ng-click="addPhone()">
        <i class="glyphicon glyphicon-plus"> </i>
            Добавить <span ng-show="profileData.phones.length > 0">ещё один</span> телефон
        </button>
        <br style="clear: both;"/>
    </li>
</ul>
<!--END Phones Data-->

<!--Mail Data-->
<ul class="form_list mobile_centered vertical_form_block">
    <li class="form_header"><h4>Почтовые адреса</h4></li>

    <li>
        <ul class="alert alert-info" ng-show="profileData.addresses.length > 0" style="list-style: none;">
            <li ng-repeat="address in profileData.addresses">
                <span ng-show="address.type == 'physical'"><strong>Физический</strong>: </span>
                <span ng-show="address.type == 'legal'"><strong>Юридический</strong>: </span>
                <span ng-show="address.country">{{address.country}},  </span>
                <span ng-show="address.index">{{address.index}} </span>
                <span ng-show="address.region">{{address.region}}</span>
                <span ng-show="address.city">{{address.city}}</span>
                <span ng-show="address.area">{{address.area}}</span>
                <span ng-show="address.street">{{address.street}}</span>
                <span ng-show="address.house">, дом {{address.house}}</span>
                <span ng-show="address.housing">, корпус {{address.housing}}</span>
                <span ng-show="address.apartment">, квартира {{address.apartment}}</span>
                    <span class="pull_right clickable" ng-click="removeAddress(address)">
                        <i class="glyphicon glyphicon-remove"> </i>
                    </span>
            </li>
        </ul>
    </li>

    <li class="input-group">
        <label for="user-profile-address-type" class="input-group-addon">Вид адресса</label>
        <select id="user-profile-address-type"
                ng-model="tempData.address.type" class="form-control">
            <option value="physical">Физический</option>
            <option value="legal">Юридический</option>
        </select>
    <li>
    <li class="input-group">
        <label for="user-profile-address-country" class="input-group-addon">Страна</label>
        <input id="user-profile-address-country" type="text"
               ng-model="tempData.address.country" class="form-control"/>
    </li>
    <li class="input-group">
        <label for="user-profile-address-index" class="input-group-addon">Индекс</label>
        <input id="user-profile-address-index" type="number"
               ng-model="tempData.address.index" class="form-control"/>
    </li>
    <li class="input-group">
        <label for="user-profile-address-region" class="input-group-addon">Регион</label>
        <input id="user-profile-address-region" type="text"
               ng-model="tempData.address.region" class="form-control"/>
    </li>
    <li class="input-group">
        <label for="user-profile-address-city" class="input-group-addon">Город</label>
        <input id="user-profile-address-city" type="text"
               ng-model="tempData.address.city" class="form-control"/>
    </li>
    <li class="input-group">
        <label for="user-profile-address-area" class="input-group-addon">Район</label>
        <input id="user-profile-address-area" type="text"
               ng-model="tempData.address.area" class="form-control"/>
    </li>
    <li class="input-group">
        <label for="user-profile-address-street" class="input-group-addon">Улица</label>
        <input id="user-profile-address-street" type="text"
               ng-model="tempData.address.street" class="form-control"/>
    </li>
    <li class="input-group">
        <label for="user-profile-address-house" class="input-group-addon">Дом</label>
        <input id="user-profile-address-house" type="text"
               ng-model="tempData.address.house" class="form-control"/>
    </li>
    <li class="input-group">
        <label for="user-profile-address-housing" class="input-group-addon">Корпус</label>
        <input id="user-profile-address-housing" type="text"
               ng-model="tempData.address.housing" class="form-control"/>
    </li>
    <li class="input-group">
        <label for="user-profile-address-apartment" class="input-group-addon">Квартира</label>
        <input id="user-profile-address-apartment" type="text"
               ng-model="tempData.address.apartment" class="form-control"/>
    </li>

    <li>
        <button class="btn btn-info pull_right" ng-click="addAddress()">
            <i class="glyphicon glyphicon-plus"> </i>
            Добавить <span ng-show="profileData.addresses.length > 0">ещё один</span> адрес
        </button>
        <br style="clear: both;"/>
    </li>
</ul>
<!--END Mail Data-->

<!--Email Data-->
<ul class="form_list mobile_centered vertical_form_block">
    <li class="form_header"><h4>Email</h4></li>

    <li>
        <ul class="alert alert-info" ng-show="profileData.email.length > 0" style="list-style: none;">
            <li ng-repeat="email in profileData.email">
                <span ng-show="email.type == 'personal'"><strong>Личный</strong>: </span>
                <span ng-show="email.type == 'legal'"><strong>Юридический</strong>: </span>
                <span ng-show="email.address">{{email.address}},  </span>
                    <span class="pull_right clickable" ng-click="removeEmail(address)">
                        <i class="glyphicon glyphicon-remove"> </i>
                    </span>
            </li>
        </ul>
    </li>

    <li class="input-group">
        <label for="user-profile-email-type" class="input-group-addon">Вид Email адресса</label>
        <select id="user-profile-email-type"
                ng-model="tempData.email.type" class="form-control">
            <option value="personal">Личный</option>
            <option value="legal">Юридический</option>
        </select>
    <li>
    <li class="input-group">
        <label for="user-profile-email-address" class="input-group-addon">Email</label>
        <input id="user-profile-email-address" type="text"
               ng-model="tempData.email.address" class="form-control"/>
    </li>

    <li>
        <button class="btn btn-info pull_right" ng-click="addEmail()">
            <i class="glyphicon glyphicon-plus"> </i>
            Добавить <span ng-show="profileData.addresses.length > 0">ещё один</span> email
        </button>
        <br style="clear: both;"/>
    </li>
</ul>
<!--END Email Data-->

<!--Social Data-->
<ul class="form_list mobile_centered vertical_form_block">
    <li class="form_header"><h4>Аккаунты соцальных сетей</h4></li>

    <li class="form-group">
        <button>asd</button>
    </li>


    <alert ng-repeat="message in messages" type="message.type" close="closeAlert($index)">
        {{message.msg}}
    </alert>

    <li>
        <button class="btn btn-danger" ng-click="cancel()">Отменить</button>
        <button class="btn btn-primary pull_right" ng-click="save()">Сохранить</button>
    </li>
</ul>
<!--END Social Data-->
</form>
</div>

</div>
