<top-private-menu/></top-private-menu>

<div ng-controller="userProfileController" class="unfilled_bg center_horizontal small_block form_block vertical_spaced">

    <div ng-hide="editMode">
        <ul class="form_list">
            <li>
                <h3>Личные данные</h3>
            </li>
            <li>
                ФИО: {{profileData.fio}}
            </li>
            <li>
                Email: {{profileData.email}}
            </li>
            <li>
                Паспортные данные: {{profileData.passportData}}
            </li>
            <li>
                Телефоны: {{profileData.phones}}
            </li>
            <li ng-show="profileData.social.vkontakte">
                <img src="/img/social/mail_ru.png"/> Mail.ru:
                {{profileData.social.mailru}}
            </li>
            <li ng-show="profileData.social.odnoklassniki">
                <img src="/img/social/odnoklassniki2.png"/> Одноклассники:
                {{profileData.social.odnoklassniki}}
            </li>
            <li ng-show="profileData.social.yandex">
                <img src="/img/social/yandex2.png"/> Яндекс
                {{profileData.social.yandex}}
            </li>
            <li ng-show="profileData.social.google">
                <i class="fa fa-google-plus-square"> </i> Google
                {{profileData.social.google}}
            </li>
            <li ng-show="profileData.social.facebook">
                <i class="fa fa-facebook-square"> </i> Facebook
                {{profileData.social.facebook}}
            </li>
            <li ng-show="profileData.social.vkontakte">
                <i class="fa fa-vk"> </i> Вконтакте:
                {{profileData.social.vkontakte}}
            </li>
            <li ng-show="profileData.social.linkedin">
                <i class="fa fa-linkedin-square"> </i> Linked In:
                {{profileData.social.linkedin}}
            </li>
            <li>
                <button ng-click="startEdit()" class="btn btn-primary pull_right" style="margin-right: 10px;">
                    Редактировать
                </button>
                <br style="clear: both;"/>
            </li>
        </ul>
    </div>

    <div ng-show="editMode">
        <form name="profileForm" role="form">
            <ul class="form_list mobile_centered" style="padding: 15px 30px;">
                <li id="profile_header">
                    <span>Профиль {{username}}</span>
                </li>
                <li class="form-group">
                    <input type="text" title="ФИО" alt="ФИО"
                           placeholder="ФИО"
                           ng-model="profileData.fio" class="form-control" required/>
                </li>

                <li class="form-group">
                    <input type="email" title="Email" alt="Email"
                           placeholder="Email"
                           ng-model="profileData.email" class="form-control" required/>
                </li>

                <li class="form-group">
                    <input type="text" title="Паспортные данные" alt="Паспортные данные"
                           placeholder="Паспортные данные"
                           ng-model="profileData.passportData" class="form-control" required/>
                </li>

                <li class="form-group">
                    <input type="text" title="Телефоны" alt="Телефоны"
                           placeholder="Телефоны"
                           ng-model="profileData.phones" class="form-control" required/>
                </li>

                <li>
                    <span>Аккаунты соцальных сетей</span>
                </li>

                <li class="form-group">
                    <button>asd</button>
                </li>


                <alert ng-repeat="message in messages" type="message.type" close="closeAlert($index)">
                    {{message.msg}}
                </alert>

                <li>
                    <button class="btn btn-danger" ng-click="cancel()">Отменить</button>
                    <button class="btn btn-primary pull_right" ng-click="save()">Сохранить</button>
                </li>
            </ul>
        </form>
    </div>

</div>