<div class="input-group">
    <label for="catalogue" class="input-group-addon">
        Юр лица
    </label>
    <input type="hidden"
           id="catalogue"
           ui-select2="select2Options"
           size="4"
           ng-model="selectedModel"
           ng-change="changeSelectedOption(selectedModel)"
           data-placeholder=".............................."
           class="catalogue_body select2-drop-mask"/>
    <span class="input-group-btn" >
        <button class="btn btn-info">
            <span class="glyphicon glyphicon-plus"> </span>
        </button>
        <button class="btn btn-info" ng-click='showModal()'>
            <span class="glyphicon glyphicon-search"> </span>
        </button>
    </span>
</div>

<div modal-show='showCatalogueModal'>
    <p>
        Modal Content Goes here
    <p>
</div>
