<!--Top menu-->
<div class="navbar navbar-inverse tiny_navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Открыть меню</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!{{ROUTES.DASHBOARD}}">Cargo</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="getClass('{{ROUTES.DASHBOARD}}')">
                    <a href="#!{{ROUTES.DASHBOARD}}">Личный кабинет</a>
                </li>
                <li ng-class="getClass('{{ROUTES.ACCOUNT}}')">
                    <a href="#!{{ROUTES.ACCOUNT}}">Аккаунт</a>
                </li>
                <li ng-class="getClass('{{ROUTES.USER_PROFILE}}')">
                    <a href="#!{{ROUTES.USER_PROFILE}}">Профиль</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--END Top menu-->