<!--Top menu-->
<div class="navbar navbar-inverse tiny_navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Открыть меню</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!{{ROUTES.DASHBOARD}}">Cargo</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav" role="menu">
                <li ng-class="getClass('{{ROUTES.DASHBOARD}}')" role="menuitem">
                    <a href="#!{{ROUTES.DASHBOARD}}">Личный кабинет</a>
                </li>
                <li ng-class="getClass('{{ROUTES.ACCOUNT}}')" role="menuitem">
                    <a href="#!{{ROUTES.ACCOUNT}}">Аккаунт</a>
                </li>
                <li ng-class="getClass('{{ROUTES.USER_PROFILE}}')" role="menuitem">
                    <a href="#!{{ROUTES.USER_PROFILE}}">Профиль</a>
                </li>
            </ul>
            <user-menu class="pull_right mobile_full_width"></user-menu>
        </div>
    </div>

    <div aria-hidden="true" ng-controller="selectAccountAndCompanyModalController">
        <script type="text/ng-template" id="selectAccountAndCompanyModalContent.html">
            <div>
                <div class="modal-header">
                    <h4 class="modal-title">Выбор Аккаунта и юридического лица</h4>
                </div>
                <div class="modal-body">
                    <ul class="clear_list vertical_form_block">
                        <li class="input-group" style="width: 100%;">
                            <label for="accountData-title">
                                Выберите юридическое лицо от имени которого совершается действие
                            </label>
                            <select title="Выберите текущий аккаунт" class="form-control"
                                    ng-model="option"
                                    ng-disabled="isAjaxLoading"
                                    size="8"
                                    ng-options="option as option.company.short group by option.account.title for option in options"
                                    ng-change="selectOption(option)"
                                    ajax-disabler="isAjaxLoading">
                                <option value="">---</option>
                            </select>
                        </li>
                        <li>
                            <alert ng-repeat="message in selectAccountAndCompanyMessages" type="message.type" close="closeAlert($index)">
                                {{message.msg}}
                            </alert>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="saveAccountAndCompany()"
                            ajax-disabler="isAjaxLoading" ng-disabled="isAjaxLoading">Ok
                    </button>
                    <button type="button" class="btn btn-warning pull_left"
                            ng-click="closeSelectAccountAndCompanyModal()">
                        Отмена
                    </button>
                </div>
            </div>
        </script>
    </div>

    <div aria-hidden="true" ng-controller="importCompaniesModalController">
        <script type="text/ng-template" id="importCompaniesModalContent.html">
            <div>
                <div class="modal-header">
                    <h4 class="modal-title">Импорт юридических лиц</h4>
                </div>
                <div class="modal-body">
                    <span ng-show="!isImportCompaniesComplete">Импортировать юридические лица?</span>
                    <span ng-show="isImportCompaniesComplete">Импорт завершён:</span>
                    <ul class="vertical_form_block" ng-show="isImportComplete">
                        <li ng-repeat="extServiceCompany in extServiceCompanies">
                            {{extServiceCompany.ext_service_company_code}}
                        </li>
                    </ul>
                    <alert ng-repeat="message in importCompaniesMessages" type="message.type" close="closeAlert($index)">
                        {{message.msg}}
                    </alert>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                            ng-show="!isImportCompaniesComplete"
                            ng-click="importCompanies()"
                            ajax-disabler="isAjaxLoading"
                            ng-disabled="isAjaxLoading">
                        Да
                    </button>
                    <button type="button" class="btn btn-warning pull_left"
                            ng-show="!isImportCompaniesComplete"
                            ng-click="closeImportCompaniesModal()">
                        Нет
                    </button>
                    <button type="button" class="btn btn-success"
                            ng-show="isImportCompaniesComplete"
                            ng-click="closeImportCompaniesModal()">
                        Готово
                    </button>
                </div>
            </div>
        </script>
    </div>

    <div aria-hidden="true" ng-controller="importPlacesModalController">
        <script type="text/ng-template" id="importPlacesModalContent.html">
            <div>
                <div class="modal-header">
                    <h4 class="modal-title">Импорт пунктов доставки</h4>
                </div>
                <div class="modal-body">
                    <span ng-show="!isImportComplete">Импортировать пункты доставки?</span>
                    <span ng-show="isImportComplete">Импорт завершён:</span>
                    <!--<ul class="vertical_form_block" ng-show="isImportComplete">
                        <li ng-repeat="extServicePlace in extServicePlaces">
                            {{extServicePlace.ext_service_place_code}}
                        </li>
                    </ul>-->
                    <alert ng-repeat="message in importPlacesMessages" type="message.type" close="closeAlert($index)">
                        {{message.msg}}
                    </alert>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                            ng-show="!isImportComplete"
                            ng-click="importPlaces()"
                            ajax-disabler="isAjaxLoading"
                            ng-disabled="isAjaxLoading">
                        Да
                    </button>
                    <button type="button" class="btn btn-warning pull_left"
                            ng-show="!isImportComplete"
                            ng-click="closeImportPlacesModal()">
                        Нет
                    </button>
                    <button type="button" class="btn btn-success"
                            ng-show="isImportComplete"
                            ng-click="closeImportPlacesModal()">
                        Готово
                    </button>
                </div>
            </div>
        </script>
    </div>

</div>
<!--END Top menu-->