<ul class="dropdown nav navbar-nav" style="color: black; text-align: center;">
    <li class="clickable">
        <a class="dropdown-toggle">
            <i class="fa fa-briefcase"> </i> {{accountName}} / {{companyShortName}} <i class="fa fa-caret-down"> </i>
        </a>
        <ul class="dropdown-menu">
            <li role="presentation">
                <a role="menuitem" ng-click="showSelectAccountAndCompanyModal()">Изменить аккаунт и компанию</a>
            </li>
            <li role="presentation" class="divider"></li>
            <li role="presentation">
                <a role="menuitem" tabindex="-1" ng-click="logout()">Выход</a>
            </li>
        </ul>
    </li>
</ul>