<top-private-menu/></top-private-menu>

<div ng-controller="userProfileController" class="unfilled_bg center_horizontal med_block form_block vertical_spaced">

<div>
    <ul id="personal_data_list" class="clear_list">
        <li>
            <h3>Личные данные</h3>
        </li>
        <li>
            <span class="description">ФИО:</span>
            <span class="user_data_text"
                  ng-show="profileData.lastName || profileData.firstName || profileData.middleName">
                {{profileData.lastName}} {{profileData.firstName}} {{profileData.middleName}}
            </span>
            <span class="text_placeholder"
                  ng-hide="profileData.lastName || profileData.firstName || profileData.middleName">
                ______________
            </span>
        </li>
        <li>
            <span class="description">Email:</span>

            <div class="user_data_text" ng-show="profileData.emails.length > 0">
                <ul class="clear_list">
                    <li ng-repeat="email in profileData.emails">
                        <span ng-show="email.type">{{email.type}}</span>
                        <span>{{email.address}}</span>
                    </li>
                </ul>
            </div>
            <span class="text_placeholder" ng-hide="profileData.emails.length > 0">______________</span>
        </li>
        <li>
            <span class="description">Паспортные данные:</span>
                <span class="user_data_text" ng-show="profileData.passport.length > 0">
                <span ng-show="profileData.passport.number">
                    <strong>Номер:</strong> {{profileData.passport.number}}
                </span>
                <span ng-show="profileData.passport.issue">
                    <strong>Серия:</strong> {{profileData.passport.issue}}
                </span>
                <span ng-show="profileData.passport.issuingAuthority">
                    <strong>Выдавший орган:</strong> {{profileData.passport.issuingAuthority}}
                </span>
                <span ng-show="profileData.passport.unitNumber">
                    <strong>Код подразделения:</strong> {{profileData.passport.unitNumber}}
                </span>
                <span ng-show="profileData.passport.birthPlace">
                    <strong>Дата рождения:</strong> {{profileData.passport.birthPlace}}
                </span>
                <span ng-show="profileData.passport.registrationType">
                    <strong>Тип регистрации:</strong> {{profileData.passport.registrationType}}
                </span>
                <span ng-show="profileData.passport.registrationPlace">
                    <strong>Место регистрации:</strong> {{profileData.passport.registrationPlace}}
                </span>
                <span ng-show="profileData.passport.registrationDate">
                    <strong>Дата регистрации:</strong> {{profileData.passport.registrationDate}}
                </span>
            </span>
            <span class="text_placeholder" ng-hide="profileData.passport.length > 0">______________</span>
        </li>
        <li>
            <span class="description">Телефоны:</span>

            <div class="user_data_text" ng-show="profileData.phones.length > 0">
                <ul class="clear_list">
                    <li ng-repeat="phone in profileData.phones">
                        <span ng-show="phone.type">
                            <strong>Тип телефона:</strong>{{phone.type}}
                        </span>
                        <span ng-show="phone.number">
                            <strong>Номер телефона:</strong> {{phone.number}}
                        </span>
                        <span ng-show="phone.additionalNumber">
                            <strong>Дополнительный:</strong> {{phone.additionalNumber}}
                        </span>
                    </li>
                </ul>
            </div>
            <span class="text_placeholder" ng-hide="profileData.phones">______________</span>
        </li>
        <li ng-show="profileData.social.vkontakte">
            <span class="description"><img src="/img/social/mail_ru.png"/> Mail.ru:</span>
            {{profileData.social.mailru}}
        </li>
        <li ng-show="profileData.social.odnoklassniki">
            <span class="description"><img src="/img/social/odnoklassniki2.png"/> Одноклассники:</span>
            {{profileData.social.odnoklassniki}}
        </li>
        <li ng-show="profileData.social.yandex">
            <span class="description"><img src="/img/social/yandex2.png"/> Яндекс</span>
            {{profileData.social.yandex}}
        </li>
        <li ng-show="profileData.social.google">
            <span class="description"><i class="fa fa-google-plus-square"> </i> Google</span>
            {{profileData.social.google}}
        </li>
        <li ng-show="profileData.social.facebook">
            <span class="description"><i class="fa fa-facebook-square"> </i> Facebook</span>
            {{profileData.social.facebook}}
        </li>
        <li ng-show="profileData.social.vkontakte">
            <span class="description"><<i class="fa fa-vk"> </i> Вконтакте:</span>
            {{profileData.social.vkontakte}}
        </li>
        <li ng-show="profileData.social.linkedin">
            <span class="description"><i class="fa fa-linkedin-square"> </i> Linked In:</span>
            {{profileData.social.linkedin}}
        </li>
        <li>
            <button ng-click="startEdit()" class="btn btn-primary pull_right" ng-disabled="editMode"
                    style="margin-right: 10px;">
                <i class="fa fa-pencil-square-o"></i> Редактировать
            </button>
            <br style="clear: both;"/>
        </li>
    </ul>
</div>

<div ng-show="editMode" class="fade_anim">

<form name="personalDataForm" role="form">
    <ul class="clear_list mobile_centered vertical_form_block bordered_top_form">
        <!--Personal Data-->
        <li class="form_header"><h4>Личные данные</h4></li>
        <li class="input-group">
            <label for="user-profile-lastName" class="input-group-addon" title="Обязательное поле">
                Фамилия<span class="required_mark">*</span>
            </label>
            <input id="user-profile-lastName" type="text"
                   ng-model="profileData.personal.lastName" class="form-control"
                   required/>
        </li>

        <li class="input-group">
            <label for="user-profile-firstName" class="input-group-addon" title="Обязательное поле">
                Имя<span class="required_mark">*</span>
            </label>
            <input id="user-profile-firstName" type="text"
                   ng-model="profileData.personal.firstName" class="form-control"
                   required/>
        </li>

        <li class="input-group">
            <label for="user-profile-middleName" class="input-group-addon">Отчество</label>
            <input id="user-profile-middleName" type="text"
                   ng-model="profileData.personal.middleName" class="form-control"/>
        </li>

        <li class="input-group">
            <label for="user-profile-uniqId" class="input-group-addon">
                Уникальный номер
            </label>
            <input id="user-profile-uniqId" type="text"
                   ng-model="profileData.personal.uniqId" class="form-control"/>
        </li>

        <li class="input-group">
            <label for="user-profile-shortName" class="input-group-addon">Краткое имя</label>
            <input id="user-profile-shortName" type="text"
                   ng-model="profileData.personal.shortName" class="form-control"/>
        </li>

        <li class="input-group">
            <label for="user-profile-docType" class="input-group-addon" title="Обязательное поле">
                Вид документа<span class="required_mark">*</span>
            </label>
            <select id="user-profile-docType" ng-model="profileData.personal.docType" class="form-control"
                    required>
                <option value="passport_rf">Паспорт РФ</option>
                <option value="passport_foreign">Паспорт другого государства</option>
                <option value="military_card">Военный билет</option>
                <option value="passport_international">Заграничный паспорт</option>
                <option value="certificate">Cправка</option>
            </select>
        </li>
    </ul>
</form>
<!-- END Personal Data-->

<!--Passport Data-->
<form name="passportDataForm" role="form">
    <ul class="clear_list mobile_centered vertical_form_block bordered_top_form">
        <li class="form_header"><h4>Паспортные данные</h4></li>

        <li class="input-group">
            <label for="user-profile-passport-series" class="input-group-addon inline_addon" title="Обязательное поле">
                Серия<span class="required_mark">*</span>
            </label>
            <input id="user-profile-passport-series" type="text"
                   placeholder="25 01"
                   ng-model="profileData.passport.series" class="form-control"
                   required/>
            <label for="user-profile-passport-number" class="input-group-addon inline_addon" title="Обязательное поле">
                Номер<span class="required_mark">*</span>
            </label>
            <input id="user-profile-passport-number" type="text"
                   placeholder="999 999"
                   ng-model="profileData.passport.number" class="form-control"
                   required/>
        </li>

        <li class="input-group">
            <label for="user-profile-passport-issue" class="input-group-addon" title="Обязательное поле">
                Дата выдачи<span class="required_mark">*</span>
            </label>
            <input id="user-profile-passport-issue" class="form-control" type="text"
                   datepicker-popup="dd.MM.yyyy"
                   is-open="openedPassportIssueDate"
                   min="'1900-01-01'"
                   max="today"
                   datepicker-options="dateOptions" date-disabled="disabled(date,mode)"
                   ng-model="profileData.passport.issue"
                   required/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-info" ng-click="openDatePopup('openedPassportIssueDate')">
                    <span class="glyphicon glyphicon-calendar"></span>
                </button>
            </span>
        </li>

        <li class="input-group">
            <label for="user-profile-passport-issuingAuthority" class="input-group-addon" title="Обязательное поле">
                Орган выдавший<span class="required_mark">*</span>
            </label>
            <input id="user-profile-passport-issuingAuthority" type="text"
                   ng-model="profileData.passport.issuingAuthority" class="form-control"
                   required/>
        </li>

        <li class="input-group">
            <label for="user-profile-passport-unitNumber" class="input-group-addon" title="Обязательное поле">
                Номер подразделения<span class="required_mark">*</span>
            </label>
            <input id="user-profile-passport-unitNumber" type="text"
                   placeholder="999-999"
                   ng-model="profileData.passport.unitNumber" class="form-control"
                   required/>
        </li>

        <li class="input-group">
            <label for="user-profile-passport-birthPlace" class="input-group-addon" title="Обязательное поле">
                Место рождения<span class="required_mark">*</span>
            </label>
            <input id="user-profile-passport-birthPlace" type="text"
                   ng-model="profileData.passport.birthPlace" class="form-control"
                   required/>
        </li>

        <li class="input-group">
            <label for="user-profile-passport-birthDate" class="input-group-addon" title="Обязательное поле">
                Дата рождения <span class="required_mark">*</span>
            </label>
            <input id="user-profile-passport-birthDate" class="form-control" type="text"
                   datepicker-popup="dd.MM.yyyy"
                   is-open="openedPassportBirthdayDate"
                   min="'1900-01-01'"
                   max="today"
                   datepicker-options="dateOptions" date-disabled="disabled(date,mode)"
                   ng-model="profileData.passport.birthDate"
                   required/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-info" ng-click="openDatePopup('openedPassportBirthdayDate')">
                    <span class="glyphicon glyphicon-calendar"></span>
                </button>
            </span>
        </li>

        <li class="input-group">
            <label for="user-profile-passport-registrationType" class="input-group-addon">Вид регистрации</label>
            <select id="user-profile-passport-registrationType"
                    ng-model="profileData.passport.registrationType" class="form-control">
                <option value="temporary">Временная</option>
                <option value="permanent">Постоянная</option>
            </select>
        </li>

        <li class="input-group">
            <label for="user-profile-passport-registrationPlace" class="input-group-addon">Место регистрации</label>
            <input id="user-profile-passport-registrationPlace" type="text"
                   ng-model="profileData.passport.registrationPlace" class="form-control"/>
        </li>

        <li class="input-group">
            <label for="user-profile-passport-registrationDate" class="input-group-addon">Дата регистрации</label>
            <input id="user-profile-passport-registrationDate" class="form-control" type="text"
                   datepicker-popup="dd.MM.yyyy"
                   is-open="openedPassportRegistrationDate"
                   min="'1900-01-01'"
                   max="today"
                   datepicker-options="dateOptions" date-disabled="disabled(date,mode)"
                   ng-model="profileData.passport.registrationDate"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-info" ng-click="openDatePopup('openedPassportRegistrationDate')">
                    <span class="glyphicon glyphicon-calendar"></span>
                </button>
            </span>
        </li>
    </ul>
</form>
<!--END Passport Data-->

<!--Misc Data-->
<form name="miscDataForm" role="form">
    <ul class="clear_list mobile_centered vertical_form_block bordered_top_form">
        <li class="form_header"><h4>Прочие данные</h4></li>

        <li class="input-group">
            <label for="user-profile-snils" class="input-group-addon">СНИЛС</label>
            <input id="user-profile-snils" type="text"
                   ng-model="profileData.other.snils" class="form-control"/>
        </li>

        <li class="input-group">
            <label for="user-profile-inn" class="input-group-addon">ИНН</label>
            <input id="user-profile-inn" type="text"
                   ng-model="profileData.other.inn" class="form-control"/>
        </li>
    </ul>
</form>
<!--End Misc Data-->

<!--Phones Data-->
<add-phone-form model="profileData.phones"></add-phone-form>
<!--END Phones Data-->

<!--Address Data-->
<add-address-form model="profileData.addresses"></add-address-form>
<!--END Address Data-->

<!--Email Data-->
<add-email-form model="profileData.emails"></add-email-form>
<!--END Email Data-->

<!--Sites Data-->
<add-site-form model="profileData.sites"></add-site-form>
<!--END Sites Data-->

<!--Photo Data-->
<form name="photoDataForm" role="form">
    <ul class="clear_list mobile_centered vertical_form_block bordered_top_form">
        <li class="form_header"><h4>Фотография профиля</h4></li>

        <li class="pull_right">
            (Загрузка изображений временно недоступна)
        </li>

        <li ng-show="profileData.photo.url">
            <img src="" class="img-thumbnail">
        </li>
        <li ng-hide="profileData.photo.url" class="img-thumbnail" style="width:200px; height: 200px;">&nbsp;</li>

        <li>
            <button class="btn btn-info pull_right" disabled>Загрузить</button>
            <br style="clear: both;"/>
        </li>
    </ul>
</form>
<!--END Photo Data-->

<!--eSignature Data-->
<form name="eSignatureDataForm" role="form">
    <ul class="clear_list mobile_centered vertical_form_block bordered_top_form">
        <li class="form_header"><h4>Цифровая подпись</h4></li>

        <li class="input-group">
            <label for="user-profile-e-signature-exist">
                <input id="user-profile-e-signature-exist" type="checkbox" ng-model="tempData.eSignature.exist"/>
                Имеется цифровая подпись</label>
        </li>

        <li class="input-group">
            <label for="user-profile-e-signature-validity" class="input-group-addon">Срок действия подписи</label>
            <input id="user-profile-e-signature-validity" type="text"
                   ng-model="tempData.eSignature.validity" class="form-control"/>
        </li>

        <li class="input-group">
            <label for="user-profile-e-signature-qualification" class="input-group-addon">Квалификация</label>
            <input id="user-profile-e-signature-qualification" type="text"
                   ng-model="tempData.eSignature.qualification" class="form-control"/>
        </li>

        <li class="input-group">
            <label for="user-profile-e-signature-powers" class="input-group-addon">Полномочия</label>
            <input id="user-profile-e-signature-powers" type="text"
                   ng-model="tempData.eSignature.powers" class="form-control"/>
        </li>

    </ul>
</form>
<!--END eSignature Data-->

<!--Social Data-->
<ul id="profileSocialBlock" class="mobile_centered vertical_form_block bordered_top_form clear_list">
    <li class="form_header"><h4>Аккаунты соцальных сетей</h4></li>

    <li>
        <ul class="alert alert-info clear_list">
            <li ng-hide="profileData.socials.length > 0" class="alert_placeholder"><i>(Нет подключенных аккаунтов)</i>
            </li>
            <li ng-show="profileData.socials.length > 0" ng-repeat="social in profileData.socials">
                <span ng-show="social.type == 'mailru'"><strong>Mail.ru</strong>: </span>
                <span ng-show="social.type == 'oddnoklassniki'"><strong>Одноклассники</strong>: </span>
                <span ng-show="social.type == 'yandex'"><strong>Яндекс</strong>: </span>
                <span ng-show="social.type == 'google'"><strong>Google</strong>: </span>
                <span ng-show="social.type == 'facebook'"><strong>Facebook</strong>: </span>
                <span ng-show="social.type == 'vkontavke'"><strong>Вконтакте</strong>: </span>
                <span ng-show="social.type == 'linkedin'"><strong>Linked.In</strong>: </span>
                <span ng-show="social.name">{{social.name}} </span>
            <span class="pull_right clickable" ng-click="remove('socials', social)" title="Удалить этот аккаунт адрес">
                <i class="glyphicon glyphicon-remove"> </i>
            </span>
            </li>
        </ul>
    </li>

    <li class="form_header"><h5>Добавить аккаунт социальной сети</h5></li>

    <li>
        <button type="button" class="btn btn-invisible btn-lg" title="Mail.ru">
            <span class="big_icon pseudo_favicon" style="color: white; background-color: #000;"> M</span>
            <span class="social_btn_desc">Mail.ru</span>
        </button>
    </li>

    <li>
        <button type="button" class="btn btn-invisible btn-lg" title="Одноклассники">
            <span class="big_icon pseudo_favicon" style="color: white; background-color: #000;"> O</span>
            <span class="social_btn_desc">Одноклассники</span>
        </button>
    </li>

    <li>
        <button type="button" class="btn btn-invisible btn-lg" title="Яндекс">
            <span class="big_icon pseudo_favicon" style="color: white; background-color: #000;"> Я</span>
            <span class="social_btn_desc"> Яндекс</span>
        </button>
    </li>

    <li>
        <button type="button" class="btn btn-invisible btn-lg" title="Google">
            <i class="fa fa-google-plus-square big_icon"></i>
            <span class="social_btn_desc">Google</span>
        </button>
    </li>

    <li>
        <button type="button" class="btn btn-invisible btn-lg" title="Facebook">
            <i class="fa fa-facebook-square big_icon"></i>
            <span class="social_btn_desc">Facebook</span>
        </button>
    </li>

    <li>
        <button type="button" class="btn btn-invisible btn-lg" title="Вконтакте">
            <i class="fa fa-vk big_icon"></i>
            <span class="social_btn_desc">Вконтакте</span>
        </button>
    </li>

    <li>
        <button type="button" class="btn btn-invisible btn-lg" title="Linked.In">
            <i class="fa fa-linkedin-square big_icon"></i>
            <span class="social_btn_desc">Linked.In</span>
        </button>
    </li>
    <li>
        <alert ng-repeat="message in messages" type="message.type" close="closeAlert($index)">
            {{message.msg}}
        </alert>
    </li>
</ul>
<!--END Social Data-->

<ul class="mobile_centered vertical_form_block bordered_top_form clear_list">
    <li>
        <button type="reset" class="btn btn-danger" ng-click="cancelEdit()">Отменить</button>
        <button type="submit" class="btn btn-primary pull_right" ng-click="saveEdit()" ajax-disabler="isAjaxLoading"
                ng-disabled="eSignatureDataForm.$invalid || photoDataForm.$invalid ||  miscDataForm.$invalid ||  passportDataForm.$invalid ||  personalDataForm.$invalid  || isAjaxLoading">
            Сохранить
        </button>
    </li>
</ul>

</div>
</div>
